<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.padmatechnosys.clientbalancetracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PadmaTechnosys Client Balance Tracker"
        android:theme="@style/Theme.PadmaTechnosysClientBalanceTracker">
        <activity android:name=".ui.ClientsListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.AddTransactionActivity" />
        <activity android:name=".ui.TransactionHistoryActivity" />
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
</manifest>